<footer class="footer">
  <div class="icon-footer">
    <img src="assets/img/Loot_Vertical_Logo__1_-removebg-preview 1.png" class="logo-bottom">
  </div>
  
  <div class="footer-links">
    <ul>
      <li><strong>Features</strong>
          <ul>
              <li><a href="index.html">Loot Home</a></li>
              <li><a href="#">Nodes</a></li>
              <li><a href="components/link-components/FAQ.html">The FAQs</a></li>
          </ul>
      </li>
      <li><strong>Contact</strong>
          <ul>
              <li><a href="#">Journey</a></li>
              <li><a href="pages/about.html">What is Loot?</a></li>
              <li><a href="#">Community</a></li>
              <li><a href="components/link-components/contributors.html">Contributors</a></li>
              <li><a href="https://sandbox.brickmmo.com">BrickMMO</a></li>
          </ul>
      </li>
      <li><strong>Resources</strong>
          <ul>
              <li><a href="#">The Fund</a></li>
              <li><a href="#">White Paper</a></li>
              <li><a href="#">Legal</a></li>
              <li><a href="#">Privacy</a></li>
          </ul>
      </li>
    </ul>
  </div>
</footer>

